<div class="d-flex gap-2 justify-content-end mb-3 mt-4">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@(ViewBag.ModalId ?? "modal")">
        Novo <i class="fas fa-plus"></i>
    </button>
</div>