<div class="d-flex justify-content-end gap-2 mb-3 mt-4">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
        Novo
    </button>

    <button type="submit" id="btnExcluir" class="btn btn-primary">
        Excluir
    </button>
</div>