<div class="d-flex justify-content-end gap-2 mb-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
        Novo
    </button>

    <button type="submit" class="btn btn-primary" formaction="ExcluirSelecionados"
            onclick="return confirm('Deseja excluir os itens selecionados?')">
        Excluir
    </button>
</div>