<div class="d-flex justify-content-end gap-2 mb-3 mt-4">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
        Novo <i class="fas fa-plus"></i>
    </button>
</div>