<header>
    <div class="header-bar d-flex align-items-center justify-content-between">
        <img src="~/assets/images/logo.png">
@*         <div class="input-group input-group-sm search">
            <span class="input-group-text bg-white border-end-0">
                <i class="fas fa-search text-secondary"></i>
            </span>
            <input type="text" id="search" class="form-control border-start-0" placeholder="Pesquisar...">
        </div> *@
        <div class="user d-flex gap-2 align-items-center">
            <p class="mb-0">@User.Identity.Name</p>
            <div class="user-icon" role="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                <i class="fas fa-user-circle fa-2x text-warning"></i>
            </div>
        </div>
    </div>
</header>

<div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fechar"></button>
    </div>
    <div class="text-center">
        <i class="fas fa-user-circle fa-3x text-warning"></i>
        <p class="mt-2 mb-0">@User.Identity.Name</p>
    </div>
    <div class="offcanvas-body d-flex flex-column gap-2">
        <a href="~/assets/Manual.pdf" target="_blank" class="btn btn-outline-primary w-100">
            <i class="fas fa-question-circle me-2"></i> Ajuda
        </a>
        <form method="post" action="/Login/Logout" class="d-grid">
            <button type="submit" class="btn btn-outline-danger w-100">
                <i class="fas fa-sign-out-alt me-2"></i> Sair
            </button>
        </form>
    </div>
</div>
