@section Styles {
    <link rel="stylesheet" href="~/css/main.css" />
}

<nav class="sidebar">
    <ul class="menu-nav">
        <li class="menu-item">
            <a href="../Home">
                <i class="fas fa-home"></i>
                <h6>Home</h6>
            </a>
        </li>
        <li class="menu-item">
            <a href="../Venda">
                <i class="fas fa-cart-shopping"></i>
                <h6>Vendas</h6>
            </a>
        </li>
        <li class="menu-item">
            <a href="../Cliente">
                <i class="fas fa-user-group"></i>
                <h6>Clientes</h6>
            </a>
        </li>
        <li class="menu-item">
            <a href="../Produto">
                <i class="fas fa-box"></i>
                <h6>Produtos</h6>
            </a>
        </li>
    </ul>
</nav>

<script src="~/js/main.js"></script>