@model ACBWeb.Models.Cliente

<form method="POST" id="formCliente" action="/Cliente/Salvar" enctype="multipart/form-data">
    <div class="row mb-3">
        <div class="col-md-2">
            <label for="IdCliente" class="form-label">ID</label>
            <input name="IdCliente" class="form-control" readonly tabindex="-1" onfocus="this.blur()" value="@Model?.IdCliente" />
        </div>
        <div class="col-md-10">
            <label for="Nome" class="form-label">Nome</label>
            <input name="Nome" class="form-control" value="@Model?.Nome" required/>
        </div>
    </div>

    <div class="row align-items-center" style="gap: 2rem;">
        <div class="col-md-8 mb-3">
            <label for="Observacoes" class="form-label">Observações</label>
            <textarea name="Observacoes" class="form-control" rows="2">@Model?.Observacoes</textarea>
        </div>

        <div class="col-md-3">
            <label for="Telefone" class="form-label">Telefone</label>
            <input name="Telefone" id="Telefone" class="form-control" type="text" value="@Model?.Telefone" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <label for="Status" class="form-label">Status</label>
            <select name="Status" class="form-select">
                <option value="0" @(Model?.Status == 0 ? "selected" : "")>Inativo</option>
                <option value="1" selected>Ativo</option>
                <option value="2" @(Model?.Status == 2 ? "selected" : "")>Bloqueado</option>
            </select>
        </div>
        <div class="col-md-3 ms-auto">
            <label for="DataCadastro" class="form-label">Data de Cadastro</label>
            <input name="DataCadastro" class="form-control" type="text" disabled tabindex="-1" onfocus="this.blur()" value="@Model?.DataCadastro?.ToString("dd/MM/yyyy")" />
        </div>
    </div>
        @if (ViewBag.Contas != null)
        {
            <div class="border p-2 mb-3" style="padding-bottom: 0 !important;">
                @await Html.PartialAsync("~/Views/Conta/_Table.cshtml", (List<ACBWeb.Models.Conta>)ViewBag.Contas)
            </div>
        }

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>

