@model ACBWeb.Models.Conta

<table class='table table-hover mt-3 table-striped'>
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Quantidade</th>
            <th class="text-center">Descrição</th>
            <th class="text-center">Valor Unitário</th>
            <th class="text-center">Subtotal</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@{
    ViewBag.ModalId = "modalContaProdutos";
}
@await Html.PartialAsync("_Paginacao")