@model ACBWeb.Models.Conta

<form method="POST" id="formConta" action="/Conta/Salvar" enctype="multipart/form-data">
    <div class="row mb-3">
        <div class="col-md-1">
            <label for="IdConta" class="form-label">ID</label>
            <input name="IdConta" class="form-control" readonly tabindex="-1" onfocus="this.blur()" value="@Model?.IdConta" />
        </div>

        <div class="col-md-6">
            <input type="hidden" name="IdCliente" value="IdCliente" />
            <label for="NomeCliente" class="form-label">Nome</label>
            <input name="NomeCliente" class="form-control" readonly tabindex="-1" onfocus="this.blur()" value="@Model?.NomeCliente" />
        </div>

        <div class="col-md-2">
            <label for="Situacao" class="form-label">Situação</label>
            <select name="Situacao" class="form-select readonly">
                <option value="0" selected>Em Aberto</option>
                <option value="1" @(Model?.Situacao == 1 ? "selected" : "")>Pago</option>
                <option value="2" @(Model?.Situacao == 2 ? "selected" : "")>Pago Parcial</option>
            </select>
        </div>

        <div class="col-md-2 ms-auto">
            <label for="DataCadastro" class="form-label">Data de Cadastro</label>
            <input name="DataCadastro" class="form-control" type="text" disabled tabindex="-1" onfocus="this.blur()" value="@Model?.DataCadastro?.ToString("dd/MM/yyyy")" />
        </div>
    </div>

    @if (ViewBag.ContaProdutos != null)
    {
        <div class="border p-2 mb-3" style="padding-bottom: 0 !important;">
            @await Html.PartialAsync("~/Views/ContaProdutos/_Table.cshtml", (List<ACBWeb.Models.ContaProdutos>)ViewBag.ContaProdutos)
        </div>
    }
    <div class="row mb-3">
        <div class="col-md-2 d-grid">
            <label class="form-label invisible">.</label>
            <button type="button" class="btn btn-primary">
                <i class="fas fa-dollar-sign me-1"></i> Pagar
            </button>
        </div>
        <div class="col-md-3">
            <label for="ValorPagamento" class="form-label">Valor Pagamento</label>
            <input name="ValorPagamento" class="form-control" readonly tabindex="-1" onfocus="this.blur()" value="@Model?.ValorPagamento" />
        </div>
        <div class="col-md-5">
            <label for="ObservacaoPagamento" class="form-label">Observação</label>
            <input name="ObservacaoPagamento" class="form-control" readonly tabindex="-1" onfocus="this.blur()" value="@Model?.ObservacaoPagamento" />
        </div>
        <div class="col-md-2">
            <label for="DataPagamento" class="form-label">Data de Pagamento</label>
            <input name="DataPagamento" class="form-control" readonly tabindex="-1" onfocus="this.blur()" value="@Model?.DataPagamento" />
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
