@model List<ACBWeb.Models.Conta>

@* @section Scripts {
    <script src="~/js/cliente.js" asp-append-version="true"></script>
} *@

<div class="container">
    @await Html.PartialAsync("_Table", Model)
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalContaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_Form", new ACBWeb.Models.Conta())
            </div>
        </div>
    </div>
</div>

