@model ACBWeb.Models.Produto

@{
    var imagemSrc = !string.IsNullOrEmpty(Model.Imagem)
        ? Url.Content("~/" + Model.Imagem)
        : "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAAFUlEQVR4nO3BMQEAAAgDoJvcf+FDMwAAAAAAAAAAwEsCdgAAXwscxQAAAABJRU5ErkJggg==";
}

<form method="POST" id="formProduto" action="/Produto/Salvar" enctype="multipart/form-data">
    <div class="row mb-3">
        <div class="col-md-2">
            <label for="IdProduto" class="form-label">ID</label>
            <input name="IdProduto" class="form-control" readonly tabindex="-1" onfocus="this.blur()" value="@Model?.IdProduto"/>
        </div>
        <div class="col-md-10">
            <label for="Nome" class="form-label">Nome</label>
            <input name="Nome" class="form-control" value="@Model?.Nome" required/>
        </div>
    </div>

    <div class="row align-items-center" style="gap: 2rem;">
        <div class="col-md-9 mb-3">
            <label for="Descricao" class="form-label">Descrição</label>
            <textarea name="Descricao" class="form-control" rows="4">@Model?.Descricao</textarea>
        </div>

        <div class="col-md-2 mb-2 d-flex flex-column align-items-center">
            <label for="Imagem" class="form-label" style="margin-right: 95px;">Imagem</label>
            <div class="d-flex align-items-center gap-2">
                <div class="border rounded mb-2 d-flex justify-content-center align-items-center" style="width: 115px; height: 115px; overflow: hidden;">
                    <img id="preview" src="@imagemSrc" style="width: 100%; height: 100%; object-fit: cover;" onclick="document.getElementById('ImagemUpload').click()" />
                </div>
                
                <input type="hidden" name="Imagem" value="@Model?.Imagem" />
                <input type="file" id="ImagemUpload" name="ImagemUpload" accept="image/*" onchange="previewImagem(this)" hidden />
                <div class="d-flex flex-column">
                    <button type="button" class="btn btn-primary btn-sm mb-2" onclick="document.getElementById('ImagemUpload').click()">
                        <i class="fas fa-plus"></i>
                    </button>

                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="limparImagem()">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <label for="ValorProduto" class="form-label">Valor</label>
            <input name="ValorProduto" id="ValorProduto" class="form-control" type="text" placeholder="0,00" value="@Model?.ValorProduto" required/>
        </div>
        <div class="col-md-3">
            <label for="Status" class="form-label">Status</label>
            <select name="Status" class="form-select">
                <option value="1" selected>Ativo</option>
                <option value="0" @(Model?.Status == 0 ? "selected" : "")>Inativo</option>
            </select>
        </div>
        <div class="col-md-3 ms-auto">
            <label for="DataCadastro" class="form-label">Data de Cadastro</label>
            <input name="DataCadastro" class="form-control" type="text" readonly tabindex="-1" onfocus="this.blur()" value="@Model?.DataCadastro?.ToString("dd/MM/yyyy")" />
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>