@model List<ACBWeb.Models.Produto>

<table class='table table-hover mt-3 table-striped'>
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center col-3">Produto</th>
            <th class="text-center">Descrição</th>
            <th class="text-center col-2">Valor</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var produto in Model)
            {
                <tr>
                    <td class="text-center align-middle">@produto.IdProduto</td>
                    <td class="text-center align-middle">@produto.Nome</td>
                    <td class="text-center align-middle">@produto.Descricao</td>
                    <td class="text-center align-middle">@produto.ValorProduto</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">Nenhum produto encontrado</td>
            </tr>
        }
    </tbody>
</table>