body {
    font-family: 'Roboto', sans-serif;
}

.custom-card {
    max-width: 420px;
    width: 100%;
    background: #FFFFFF;
}

.col-left {
    background-color: #223870; 
    width: 50%;
    height: 100vh;
}

.col-right {
    width: 50%;
    background-color: #FFFFFF !important;
}

.form-custom {
    border: 1px solid #223870 !important;
    border-bottom: 3px solid #223870 !important;
}

.form-custom:focus {
    border: 1px solid #223870 !important;
    border-bottom: 3px solid #223870 !important;
}

.btn-warning {
    border-radius: 1rem;
    font-weight: bold;
}