body {
    font-family: 'Roboto', sans-serif;
}

.custom-card {
    max-width: 420px;
    width: 100%;
    background: #FFFFFF;
}

.col-left {
    position: relative;
    width: 75%;
    height: 100vh;
    background-color: #223870;
    overflow: hidden;
}

    .col-left::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../assets/images/background.png);
        background-size: 120% auto;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.3;
        z-index: 0;
    }

.col-right {
    width: 50%;
    background-color: #FFFFFF !important;
}

.form-custom {
    border: 1px solid #223870 !important;
    border-bottom: 3px solid #223870 !important;
}

.form-custom:focus {
    border: 1px solid #223870 !important;
    border-bottom: 3px solid #223870 !important;
}

.btn-warning {
    border-radius: 1rem;
    font-weight: bold;
}