html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #D0D0D0;
}

.sidebar {
    margin-top: 75px;
    background-color: #223870;
    width: 75px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
}

.menu-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu-item {
    width: 100%;
    height: 75px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #1D4099;
}

.menu-item.active,
.menu-item.active:hover {
    background-color: #1D4099;
}

.menu-item i {
    font-size: 20px;
}

.menu-item h6 {
    margin: 5px 0 0 0;
    font-size: 14px;
    text-align: center;
}

.menu-item a {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 75px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    margin-top: 0;
    left: 0;
    z-index: 1000;
}

header img {
    width: 75px;
    height: 75px;
}

.header-bar {
    margin-right: 15px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.search {
    max-width: 100%;
    width: 500px;
}

.offcanvas-end {
    width: 250px !important;
}

.hero {
    background-color: #FFFFFF;
    margin: 20px;
    min-height: calc(100vh - 75px - 40px);
    display: flex;
    flex-direction: column;
}

.conteudo {
    margin-left: 75px; 
    padding-top: 75px; 
}

.titulo {
    color: #223870;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

.form-select:focus {
    box-shadow: none;
    border-color: #ced4da;
    outline: none;
}

.btn-primary {
    background-color: #223870 !important;
    border-color: #223870 !important;
    outline: none;
}

.btn-warning {
    background-color: #FF9500 !important;
    color: #FFFFFF;
    font-weight: 500;
}

.btn-warning:hover, .btn-warning:focus {
    color: #FFFFFF;
}

.btn-primary:focus, .btn-warning:focus {
    box-shadow: none;
    border-color: #ced4da;
    outline: none;
}

.btn-outline-primary {
    border-color: #223870 !important;
    color: #223870 !important;
}

.btn-outline-primary:hover {
    background-color: #223870 !important;
    border-color: #223870 !important;
    color: #FFFFFF !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[readonly] {
    background-color: #e9ecef;
    opacity: 1;
    cursor: default;
}

.readonly {
    background-color: #e9ecef;
    opacity: 1;
    cursor: default;
    pointer-events: none;
}

.arrow {
    border: none;
    color: ##223870;
}

.arrow:hover {
    background-color: transparent;
}

.pagination .page-link {
    color: #223870;
    background-color: white;
}

.pagination .page-item.active .page-link {
    background-color: #223870;
    border-color: #223870;
    color: white;
}

.pagination .page-item .page-link {
    border: none;
}

.table-striped > tbody > tr:nth-of-type(even) {
    --bs-table-accent-bg: #FFFFFF;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    --bs-table-accent-bg: #ff950087;
}

.table thead th, .table tbody td {
    border-bottom: none;
}

.table {
    margin-bottom: 0;
}

.modal-header {
    border: none;
    padding-bottom: 0;
}

.modal-body {
    padding-top: 0;
}

.form-control:focus {
    border: 1px solid #223870  !important;
    border-bottom: 3px solid #223870 !important;
}

.modal .select2-container {
    z-index: 1056 !important;
}

.modal .select2-dropdown {
    z-index: 1057 !important;
}

.modal .select2-search__field {
    z-index: 1058 !important;
    position: relative;
}

.select2-container--default .select2-selection--single {
    height: 38px; 
    padding: 6px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem; 
    background-color: #fff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 1rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
    right: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 24px;
    padding-left: 0;
    color: #212529;
}

.select2-container--disabled .select2-selection {
    background-color: #e9ecef !important;
}

.text-primary {
    color: #223870 !important;
}

.text-warning {
    color: #E38C00 !important;
}

#calendar {
    width: 1000px;
    margin: 40px auto;
}