html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #D0D0D0;
}

.sidebar {
    margin-top: 75px;
    background-color: #223870;
    width: 75px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
}

.menu-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu-item {
    width: 100%;
    height: 75px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #1D4099;
}

.menu-item.active,
.menu-item.active:hover {
    background-color: #1D4099;
}

.menu-item i {
    font-size: 20px;
}

.menu-item h6 {
    margin: 5px 0 0 0;
    font-size: 14px;
    text-align: center;
}

.menu-item a {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 75px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    margin-top: 0;
    left: 0;
    z-index: 1000;
}

header img {
    width: 75px;
    height: 75px;
}

.header-bar {
    margin-right: 15px;
}

.search {
    max-width: 100%;
    width: 500px;
}

.offcanvas-end {
    width: 250px !important;
}

.hero {
    background-color: #FFFFFF;
    margin: 20px;
    min-height: calc(100vh - 75px - 40px);
    display: flex;
    flex-direction: column;
}

.conteudo {
    margin-left: 75px; 
    padding-top: 75px; 
}

.titulo {
    color: #223870;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
    outline: none;
}

.btn-primary {
    background-color: #223870 !important;
    border-color: #223870 !important;
    outline: none;
}

.btn-warning {
    background-color: #FF9500 !important;
    color: #FFFFFF;
    font-weight: 500;
}

.btn-warning:hover, .btn-warning:focus {
    color: #FFFFFF;
}

.btn-primary:focus, .btn-warning:focus {
    box-shadow: none;
    border-color: #ced4da;
    outline: none;
}

.btn-outline-primary {
    border-color: #223870 !important;
    color: #223870 !important;
}

.btn-outline-primary:hover {
    background-color: #223870 !important;
    border-color: #223870 !important;
    color: #FFFFFF !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[readonly] {
    background-color: #e9ecef;
    opacity: 1;
    cursor: default;
}

.arrow {
    border: none;
    color: ##223870;
}

.arrow:hover {
    background-color: transparent;
}

.pagination .page-link {
    color: #223870;
    background-color: white;
    border-radius: 50%;
}

.pagination .page-item.active .page-link {
    background-color: #223870;
    border-color: #223870;
    color: white;
}

.pagination .page-item .page-link {
    border: none;
}

